<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <!-- CSRF token input hidden -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <h1>Page Not Found!</h1>

    <%- include('includes/end.ejs') %>