<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <!-- CSRF token input hidden -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <h1>Some error occured!</h1>
    <p>We are working on fixing this. Sorry for any convenience!</p>


    <%- include('includes/end.ejs') %></input>